body {
  background-color: rgb(73, 73, 73);
}
.bungkus {
  position: relative;
  width: 75%;
}
.image {
  opacity: 1;
  display: grid;
  width: 50%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.bungkus:hover .image {
  opacity: 0.3;
}

.bungkus:hover .middle {
  opacity: 1;
}

.text {
  background-color: #353535;
  color: white;
  font-size: 20px;
  padding: 15px 32px;
  border-radius: 1000px;
  color: white;
  text-decoration: none;
}
.fa-play {
  color: white;
}
