@font-face {
  font-family: "Arvo";
  src: url("assets/font/Arvo-Regular.ttf");
}
body {
  font-family: "Arvo";
  margin: 0;
  background-color: rgb(250, 250, 250);
}
.wrapper {
  padding-left: 10%;
  padding-right: 10%;
}
/*Navbar*/
@media only screen and (min-width: 769px) {
  .topnav {
    padding: 10px;
    overflow: hidden;
    background-color: #f8f8f8;
    filter: drop-shadow(0 1mm 4mm rgb(43, 43, 43));
  }
  .topnav button {
    float: left;
    padding: 14px 16px;
  }
  .topnav img {
    float: left;
    padding-left: 50px;
  }
  .topnav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    text-decoration: underline;
  }

  .topnav .search-container {
    float: right;
  }

  .topnav input[type="text"] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }

  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  .topnav .search-container button:hover {
    background: #ccc;
  }
}
/*navbar Phone*/
@media only screen and (max-width: 768px) {
  .topnav {
    display: grid;
    grid-template-rows: auto auto auto auto;
  }
  .topnav button {
    float: left;
    padding: 14px 16px;
  }
  .topnav img {
    float: left;
    padding-left: 50px;
  }
  .topnav a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    text-decoration: underline;
  }

  .topnav .search-container {
    float: right;
  }

  .topnav input[type="text"] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }

  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  .topnav .search-container button:hover {
    background: #ccc;
  }
}
/*Side Bar*/
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(243, 243, 243);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #353535;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  text-decoration: underline;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/*buttons*/
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}
/*Jumbotron*/
.jumbotron {
  font-size: 36px;
  display: grid;
  grid-template-columns: auto auto;
  padding-top: 100px;
  padding-bottom: 30px;
  align-items: center;
}
.jumbotron a {
  font-size: 24px;
  padding: 20px;
  background-color: #5a7e6a;
  border-radius: 50px;
  text-decoration: none;
  color: white;
}
/*Phone Jumbotron*/
@media only screen and (max-width: 768px) {
  .jumbotron {
    grid-template-columns: auto;
    text-align: center;
  }
  .jumbotron video {
    min-width: 200px;
  }
}
/*Konten 1*/
.content1 {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: cenater;
  column-gap: 10%;
  padding: 50px;
  background-color: #5a7e6a;
  text-align: center;
  color: white;
  font-size: 24px;
}
.siaran {
  font-size: 24px;
  color: white;
  padding: 5px 0 0;
  background-color: #5a7e6a;
  display: flex;
  align-items: center;
  filter: drop-shadow(0 1mm 1mm rgb(43, 43, 43));
}
/*Konten 2*/
.judul {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  filter: drop-shadow(0 1mm 1mm rgb(43, 43, 43));
  background-color: white;
}
.judul p {
  float: left;
}
.judul a {
  color: black;
  text-align: right;
  text-decoration: none;
}
.content2 {
  padding-top: 30px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  column-gap: 1%;
}
/*Phone Konten 2*/
@media only screen and (max-width: 768px) {
  .content2 {
    grid-template-columns: auto;
  }
}
.content2 .container {
  max-width: auto;
  display: grid;
  grid-template-rows: auto auto;
  background-color: white;
  align-content: center;
  text-align: left;
  align-items: center;
  filter: drop-shadow(0 1mm 1mm rgb(43, 43, 43));
}
.content2 img {
  padding: 10px;
  width: 90%;
  padding-left: 15px;
}
.content2 p {
  padding-left: 10px;
}
.next {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
}
.next a {
  color: yellow;
  background-color: #5a7e6a;
  padding: 20px;
  text-decoration: none;
  border-radius: 50px;
}
/*Ini Footer*/
.footer {
  display: grid;
  color: white;
  background-color: #474747;
  text-align: center;
  height: 50px;
  align-content: center;
}
