@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
body {
  font-family: "Arvo";
  margin: 0;
  background-color: rgb(250, 250, 250);
}
.wrapper {
  padding-left: 10%;
  padding-right: 10%;
}
/*Homepage*/
/*Nav baru*/
nav a {
  padding-top: 10px;
  color: black;
  text-decoration: none;
  font-size: 20px;
}
nav .containern {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 10%;
  padding-right: 10%;
  background-color: white;
  filter: drop-shadow(0 1mm 4mm rgba(43, 43, 43, 0.2));
}
nav .search-container {
  float: right;
}

nav input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

nav .search-container a {
  padding: 6px 10px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

nav .search-container button:hover {
  background: #ccc;
}
/*Navbar*/
@media only screen and (min-width: 769px) {
  .topnav {
    display: grid;
    grid-template-rows: auto;
    padding: 10px;
    overflow: hidden;
  }
  .topnav button {
    float: left;
    padding: 14px 16px;
  }
  .topnav img {
    height: 50px;
    float: left;
    padding-left: 50px;
  }
  .topnav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    text-decoration: underline;
  }

  .topnav .search-container {
    float: right;
  }

  .topnav input[type="text"] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }

  .topnav .search-container button {
    float: left;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  .topnav .search-container button:hover {
    background: #ccc;
  }
}
/*navbar Phone
@media only screen and (max-width: 768px) {
  .topnav {
    display: grid;
    grid-template-rows: auto auto auto auto;
  }
  .topnav button {
    float: left;
    padding: 14px 16px;
  }
  .topnav img {
    height: 10%;
    float: left;
    padding-left: 50px;
  }
  .topnav a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    text-decoration: underline;
  }

*/
/*Side Bar*/
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #353535;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  text-decoration: underline;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/*buttons*/
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}
/*Jumbotron*/
.jumbotron {
  font-size: 36px;
  display: grid;
  grid-template-columns: auto auto;
  padding-top: 100px;
  padding-bottom: 30px;
  align-items: center;
}
.jumbotron a {
  font-size: 24px;
  padding: 20px;
  background-color: #5a7e6a;
  border-radius: 50px;
  text-decoration: none;
  color: white;
}
/*Phone Jumbotron*/
@media only screen and (max-width: 768px) {
  .jumbotron {
    font-size: 28px;
    grid-template-columns: auto;
    text-align: center;
  }
  .jumbotron .wrapper {
    padding: 0;
    margin: 0;
  }
  .jumbotron a {
    padding: 10px;
    font-size: 12px;
  }
}
/*Konten 1*/
.content1 {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  column-gap: 10%;
  padding: 50px;
  background-color: #5a7e6a;
  text-align: center;
  color: white;
  font-size: 24px;
}
@media only screen and (max-width: 768px) {
  .content1 {
    grid-template-columns: auto;
  }
}
.siaran {
  font-size: 24px;
  color: white;
  padding: 5px 0 0;
  background-color: #5a7e6a;
  display: flex;
  align-items: center;
  filter: drop-shadow(0 1mm 1mm rgb(43, 43, 43));
}
/*Konten 2*/
.judul {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  filter: drop-shadow(0 1mm 1mm rgb(43, 43, 43));
  background-color: white;
}
.judul p {
  float: left;
}
.judul a {
  color: black;
  text-align: right;
  text-decoration: none;
}

.content2 {
  padding-top: 30px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  column-gap: 1%;
}
/*Card*/
.bungkus {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.image {
  display: block;
  width: 90%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
}
.overlay a {
  text-decoration: none;
}
.bungkus:hover .overlay {
  opacity: 1;
}

.icon {
  color: white;
  font-size: 36px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.fa-user:hover {
  color: #eee;
}
/**/
.content2 .containers {
  min-width: 300;
  max-width: auto;
  display: grid;
  grid-template-rows: auto auto;
  background-color: white;
  align-content: center;
  align-items: center;
  filter: drop-shadow(0 1mm 1mm rgb(43, 43, 43));
  margin-bottom: 20px;
}
.content2 img {
  padding: 10px;
  width: 95%;
  padding-left: 15px;
}
/*Phone Konten 2*/
@media only screen and (max-width: 768px) {
  .content2 {
    grid-template-columns: auto;
  }
}
.content2 .p {
  padding-bottom: 20px;
}
.next {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
  filter: drop-shadow(0 1mm 1mm rgb(43, 43, 43));
}
.next a {
  color: yellow;
  background-color: #5a7e6a;
  padding: 20px;
  text-decoration: none;
  border-radius: 50px;
}
/*Ini Footer*/
.footer {
  display: grid;
  color: white;
  background-color: #474747;
  text-align: center;
  height: 50px;
  align-content: center;
}
/*Ini Video*/
.vids {
  padding-top: 50px;
  display: grid;
  grid-template-columns: auto auto;
  background-color: white;
  filter: drop-shadow(0 1mm 1mm rgb(43, 43, 43));
  padding-bottom: 50px;
}
.vids video {
  width: 720;
}
.vids h1 {
  padding-left: 20px;
}
.vids h2 {
  padding-left: 20px;
}
.vids h3 {
  padding-left: 20px;
}
.vids h4 {
  padding-left: 20px;
}
.vids h5 {
  padding-left: 20px;
}
.vids p {
  padding-left: 20px;
}
.vids a {
  color: black;
  text-decoration: none;
  padding-left: 20px;
}
.vids button {
  margin-left: 20px;
}
.vids .textbox {
  display: grid;
  grid-template-rows: auto auto auto;
}
.vids i {
  padding-left: 20px;
}
.recomend p {
  font-size: 36px;
}
.vidL {
  background-color: #5a7e6a;
}
.vidL h1 {
  padding-top: 20px;
  color: white;
  font-size: 24px;
}
/*Phone Video*/
@media only screen and (max-width: 768px) {
  .vids {
    grid-template-columns: auto;
  }
  .vids video {
    width: 100%;
  }
}
.prodi {
  padding-top: 50px;
}
.prodi .nama {
  text-align: center;
  font-size: 48px;
}
